extends layout

block header-content
	.indent
		p &nbsp;&nbsp;We're back again for our third annual conference bringing you some of the most influential tech-stars to rap about Node, hack around, lead some workshops and in general have an all-out ill time.
	p This year we will be featuring hands-on workshops hosted by MongoDB and StrongLoop, followed by an early evening speaker series with some of the most prominent talent in the Node community leading up to a dope after party that will be hard to forget. Here's the lineup:
	p(style="text-align: center;")
		a.tix(href="http://nodephilly.ticketleap.com/node-philly-tech-week-2014/dates/Apr-09-2014_at_0200PM" target="_blank") Get Tickets Now!

block body-content
	.date
		.day Tuesday, April 8
		.timeslot
			.header BLE Hack (6:30pm)
			.detail Bryan Paluch (<a href='https://twitter.com/bryanpaluch' target='_blank'>@bryanpaluch</a>) from Comcast Labs and Howard Tyson (<a href='https://twitter.com/tizzo' target='_blank'>@tizzo</a>) from <a href='https://twitter.com/zivtech' target='_blank'>@ZivTech</a> will be leading a hack with BLE (Bluetooth Low Energy) devices. The event will be held at ZivTech and BLE devices will be provided to attendees. Space and supplies are limited for this event so reserve early.
			.instructor
				.pic
					img(src='http://1.gravatar.com/avatar/0f6c46fc2e4e39c72c1cfe2318252ef1?size=150', height=150, width=131)
				.details
					.name Bryan Paluch
					.twitter
						a(href='https://twitter.com/bryanpaluch' target='_blank')@bryanpaluch
					.bio Bryan is an Engineer at Comcast in the Technology and Product Development group. He works on real time communications technologies, and home automation products. He is currently gearing up to launch a new communications platform as well as investigating BLE technology uses.
	.date
		.day Wednesday, April 9
		.timeslot
			.header MEAN Stack Workshop (2-3:30 pm)
			.subject The MEAN Stack (MongoDB, Express, Angular, Nodejs)
			.detail We are teaming up with MongoDB (
				a(href='https://twitter.com/mongodbinc' target='_blank')@mongodbinc
				) to put on this afternoon workshop led by Valeri Karpov on the MEAN stack (MongoDB, Express, Angular and Node.js). MongoDB helps you build new applications, fast. By coding with Javascript throughout, engineers are able to realize performance gains in both the software itself and in the productivity of developers. See how you can leverage MongoDB and Node.js for rapid application development with powered end-to-end Javascript. Spots are limited, reserve your spot now!
			.instructor
				.pic
					img(src='images/valeri.jpg', height=150, width=131)
				.details
					.name Valeri Karpov
					.twitter
						a(href='https://twitter.com/code_barbarian' target='_blank')@code_barbarian
					.bio Valeri Karpov has been developing web applications since putting up his first Pokemon message board at age 10. He studied data structures under Professor Robert Tarjan at Princeton and started his career working on trade execution platforms at a high frequency trading firm, but web development has been his lifelong passion.
					br/
					|Valeri is best known for coining the term 'MEAN stack', a Javascript-only combination of web development technologies. His writings on the MEAN stack are based on his work building out full-stack web applications for The Ascot Project and Bookalokal.com using these technologies. He currently works at MongoDB, where he's helping build out a massively parallel continuous integration platform. He blogs about nutrition, personal philosophy, web development, and other loosely related topics at&nbsp;
					a(href='http://www.thecodebarbarian.com' target='_blank') thecodebarbarian.com.

		.timeslot
			.header Strongloop Workshop (3:30-5:30 pm)
			.subject Build and Deploy an API server in Node
			.detail In this workshop, Matt Schmulen will walk you through the fundamentals of how an API Server works and what they are good for. We'll then crack open our lids and start hacking. By the end of the session you should have an API Server deployed locally or on your cloud of choice that supports connectivity to MongoDB, MySQL and Oracle plus provides services like push, geolocation and sync.
			.instructor
				.pic
					img(src='images/matt.png', height=150, width=131)
				.details
					.name Matt Schmulen
					.twitter
						a(href='https://twitter.com/mattscmulen' target='_blank')@mattschmulen
					.bio Independent Mobile Developer & StrongLoop Sales Engineering
					br/
					Matt Schmulen is a Developer Advocate for StrongLoop.  As a former Appcelerator Systems Engineer and native mobile developer, Matt understands first hand how latent API and mobile middle tiers can frustrate developers and kill the consumer experience.  Matt joined the StrongLoop team to help mobile developers take advantage of Node to create fast and responsive API servers.

		.timeslot
			.header Conference Speakers (6pm)
			.subject Strongloop: Beyond Node v0.12 - Functional Gaps, Solutions and Unicorns
			.detail In this talk, Node core committer Bert Belder looks beyond Node v0.12 to discuss the functional gaps that still remain, plus a preview of a few potential solutions. He'll also make the case that Node is coming to a browser near you - whether you like it or not. This should create a full circle JavaScript utopia. Unicorns!
			.instructor.conference
				.pic
					img(src='/images/bert.png', height=150, width=131)
				.details
					.name Bert Belder
					.twitter
						a(href='https://twitter.com/piscisaureus' target='_blank')@piscisaureus
					.bio Node Commiter and StrongLoop Co-Founder
					br/
					|Having been programming since he was a little kid, Bert got involved with open source when he started to port Node.js to Windows. It got him the core contributor badge, and he hasn't left the project since. In 2012, Bert founded his company StrongLoop together with long-time Node contributor Ben Noordhuis, in an effort to lead Node to world domination.
			br/
			.subject Reimagining the npm Data Model
			.detail Discuss the current problems we face with the current npm architecture and the steps that we can take to ensure it remains a sustainable and open platform.
			.instructor.conference
				.pic
					img(src='images/jarrett.jpg', height=150, width=131)
				.details
					.name Jarrett Cruger
					.twitter
						a(href='https://twitter.com/jcrugzz' target='_blank')@jcrugzz
					.bio Engineer at Nodejitsu passionate about building fault tolerant, distributed systems. Dreams for the day that we will build a completely decentralized internet infrastructure.
			br/
			.subject Integrate All The Things!
			.detail Adam Tuttle will talk about using Node and Heroku to make his life easier and more enjoyable. As more and more of everyday life becomes internet-addressable, it becomes possible to automate the tediousness out of life. There are a million great SaaS tools, but for the most part they all exist in their own silos. Thanks to service webhooks and APIs, and the proliferation of Node modules, you can aggregate most things into a life-stream... and you can host these tools in the cloud, for free, on Heroku. It's like IFTTT, but with more control and a better interface: your IDE.
			.instructor.conference
				.pic
					img(src='images/adam.png', height=150, width=131)
				.details
					.name Adam Tuttle
					.twitter
						a(href='https://twitter.com/adamtuttle' target='_blank')@adamtuttle
					.bio Adam is a jack of all trades but he specializes in JavaScript, REST, SOA, Security, and Responsive mobile-optimized design.
					br/
					| In addition to working with and speaking about Node.js and ColdFusion, he maintains a growing library of open source projects including&nbsp;
					a(href='http://taffy.io/' target='_blank') Taffy.
					|  Adam is a board game geek and blogs, mostly about tech stuff, at&nbsp;
					a(href='http://fusiongrokker.com' target='_blank') fussiongrokker.com.
					| You can also&nbsp;
					a(href='https://github.com/atuttle/' target='_blank') Fork Adam on GitHub.
			br/
			.subject Switching to Node Without Nuclear Fallout
			.detail Tom Shawver, Lead Architect at Leadnomics, will tell you how to switch your legacy stack to Node without getting fired in the process. He'll cover architectures, libraries, and tools you should know about before you need them.
			.instructor
				.pic
					img(src='images/tom.jpg', height=150, width=131)
				.details
					.name Tom Shawver
					.twitter
						a(href='https://twitter.com/tomfrost' target='_blank')@tomfrost
					.bio Lead Architect at <a href='https://twitter.com/leadnomics' target='_blank'>@Leadnomics</a>
		.timeslot.last
			.header After-Partaaaaay (9pm)
			.subject
				a(href='http://www.citytaphouse.com' target='_blank') City Tap House
			.detail After-party at our usual spot, City Tap House (
				a(href='https://twitter.com/TapHousePhilly' target='_blank')@taphousephilly
				) featuring food, drinks, music and a chance to mingle with your fellow Node fans. Food & beer provided by our awesome sponsors.

block footer-content
	hr
	.sponsors
		a(name='chathamfinancial' href='http://www.chathamfinancial.com' target='_blank' class='partner')
		a(name='strongloop' href='http://www.strongloop.com' target='_blank' class='partner')
		a(name='leadnomics' href='http://www.leadnomics.com' target='_blank' class='partner')
