extends layout

block content
  #fullpage(np-full-page)
    .section#section0(style="background-image: url(/images/homepageimages/#{titleImageUrl})")
      img(src='/images/nodephlogo-word.png' class='homelogo')
      p its a block yo
    .section#section1
      div hey there Chonggy
    .section#section2
      div(np-contact-section)
