extends layout

block content
    #fullpage(np-full-page)
        .section#section0
            img(src='/images/nodephlogo-word.png' class='homelogo')
            p its a block yo
        .section#section1
            div hey there Chonggy
