extends ../layout

block body-content
  h2 We are very sorry, but we failed to process your sponsorship payment for some reason. Please contact the <a href="mailto:team@node.ph">Node Philly Team</a> for assistance.
