extends ../layout


block content
	.section 
		b Yo! We're back again for our third annual conference bringing you some of the most influential tech-stars to rap about Node, hack around, lead some workshops and in general have an all-out ill time.
		
		p This year we will be featuring hands-on workshops hosted by MongoDB and StrongLoop, followed by an early evening speaker series with some of the most prominent talent in the Node community leading up to a dope after party that will be hard to forget. Here's the lineup:

		.date
			.day Tuesday, April 8

			.timeslot
		
				.header BLE Hack (6pm)

				.detail Tuesday, April 8th, ~6:00pm - 8:00pm: Meetup at Zivtech where Bryan Paluch talks and demos BLE. This will be a bit of a workshop format where attendees are encouraged to bring some gadgets to play with.

		.date
			.day Wednesday, April 9
			.timeslot
				.header MEAN Stack Workshop (2pm)
				.detail Teaming up with MongoDB to put on this workshop.  a workshop on the MEAN stack (MongoDB, Nodejs, Express and Angular).  a 1.5 hour lecture, 20 participants, one instructor
				.instructor Valeri Karpov
			.timeslot
				.header Strongloop Workshop (3pm)
				.timespan 3:00-5:00 : Workshop
				.subject Build and Deploy an API server in Node
				.detail n this workshop, Matt Schmulen will walk you through the fundamentals of how an API Server works and what they are good for. We'll then crack open our lids and start hacking. End of the session you should have an API Server deployed locally or on your cloud of choice that supports connectivity to MongoDB, MySQL and Oracle plus provides services like push, geolocation and sync.
				.instructor 
					.name Matt Schmulen
					.twitter @mattscmulen
					.bio Independent Mobile Developer & StrongLoop Sales Engineering

			.timeslot
				.header Node Philly Conference (6pm)
				.subject Strongloop: What's New in Node v0.12 and What's Next
				.detail n this talk, Node commiter Bert Belder will walk us through some of the new features in Node v0.12 including Streams3, VM improvements, cluster round-robin, execSync and the profiling APIs. He'll also take a look into the crystal ball and discuss where Node is headed and what you can expect from the core team in the future.
				.instructor
					.name Bert Belder
					.twitter @piscisaureus 
					.bio Node Commiter and StrongLoop Co-Founder


				.header Other Speakers

			.timeslot
				.header After-Party (9pm)
				.detail After party at our usual spot, City Tap House.  Food & beer provided by our awesome sponsors.
