extends techweeklayout


block content
	.headersection
		.nodelogo
			img(src='/images/yo-philly-nodes.png', height=200, width=200)
		.techweeklogo 
			img(src='/images/ptw2014-logo-att.png', height=70, width=400)
	.section 
		.blackShiz
			.contentYo
				.indent
					p We're back again for our third annual conference bringing you some of the most influential tech-stars to rap about Node, hack around, lead some workshops and in general have an all-out ill time.
				
				p This year we will be featuring hands-on workshops hosted by MongoDB and StrongLoop, followed by an early evening speaker series with some of the most prominent talent in the Node community leading up to a dope after party that will be hard to forget. Here's the lineup:

		.grayShiz
			.contentYo
				.date
					.day Tuesday, April 8

					.timeslot
						.header BLE Hack (6pm)
						.detail Bryan Paluch from Comcast Labs and Howard Tyson from Zivtech (
							a(href='https://twitter.com/zivtech' target='_blank')@zivtech
							) will be leading a hack with BLE (Bluetooth Low Energy) devices. The event will be held at ZivTech and BLE devices will be provided to attendees. Space and supplies are limited for this event so reserve early.
						.instructor
							.pic
								img(src='images/bryan.jpg', height=150, width=131)
							.details
								.name Bryan Paluch
								.twitter
									a(href='https://twitter.com/bryanpaluch' target='_blank')@bryanpaluch
								.bio A gangsta
						.instructor
							.details
								.name Howard Tyson
								.twitter
									a(href='https://twitter.com/tizzo' target='_blank')@tizzo
								.bio A gee
				.date
					.day Wednesday, April 9
					.timeslot
						.header MEAN Stack Workshop (2-4:30 pm)
						.subject The MEAN Stack (MongoDB, Express, Angular, Nodejs)
						.detail We are teaming up with MongoDB (
							a(href='https://twitter.com/mongodbinc' target='_blank')@mongodbinc
							) to put on this afternoon workshop led by Valeri Karpov on the MEAN stack (MongoDB, Node.js, Express and Angular). MongoDB helps you build new applications, fast. By coding with Javascript throughout, engineers are able to realize performance gains in both the software itself and in the productivity of developers. See how you can leverage MongoDB and Node.js for rapid application development with powered end-to-end Javascript. Spots are limited, reserve your spot now!
						.instructor
							.pic
								img(src='images/valeri.jpg', height=150, width=131)
							.details
								.name Valeri Karpov
								.twitter
									a(href='https://twitter.com/code_barbarian' target='_blank')@code_barbarian
								.bio Valeri is a total gee.
					.timeslot
						.header Strongloop Workshop (3-5 pm)
						.subject Build and Deploy an API server in Node
						.detail In this workshop, Matt Schmulen will walk you through the fundamentals of how an API Server works and what they are good for. We'll then crack open our lids and start hacking. End of the session you should have an API Server deployed locally or on your cloud of choice that supports connectivity to MongoDB, MySQL and Oracle plus provides services like push, geolocation and sync.
						.instructor 
							.pic 
								img(src='images/matt.png', height=150, width=131)
							.details
								.name Matt Schmulen
								.twitter 
									a(href='https://twitter.com/mattscmulen' target='_blank')@mattscmulen
								.bio Independent Mobile Developer & StrongLoop Sales Engineering
					.timeslot
						.header Node Philly Conference (6pm)
						.subject Strongloop: Beyond Node v0.12 - Functional Gaps, Solutions and Unicorns
						.detail In this talk, Node core committer Bert Belder looks beyond Node v0.12 to discuss the functional gaps that still remain, plus a preview of a few potential solutions. He'll also make the case that Node is coming to a browser near you - whether you like it or not. This should create a full circle JavaScript utopia. Unicorns!
						.instructor
							.pic 
								img(src='/images/bert.png', height=150, width=131)
							.details
								.name Bert Belder
								.twitter 
									a(href='https://twitter.com/piscisaureus' target='_blank')@piscisaureus 
								.bio Node Commiter and StrongLoop Co-Founder
						br/
						.subject Reimagining the npm Data Model
						.detail Discuss the current problems we face with the current npm architecture and the steps that we can take to ensure it remains a sustainable and open platform.
						.instructor
							.pic 
								img(src='images/jarrett.jpg', height=150, width=131)
							.details
								.name Jarrett Cruger
								.twitter 
									a(href='https://twitter.com/jcrugzz' target='_blank')@jcrugzz
								.bio Engineer at Nodejitsu passionate about building fault tolerant, distributed systems. Dreams for the day that we will build a completely decentralized internet infrastructure.
						br/
						.subject Integrate All The Things!
						.detail Adam Tuttle will talk about using Node and Heroku to make his life easier and more enjoyable. As more and more of everyday life becomes internet-addressable, it becomes possible to automate the tediousness out of life. There are a million great SaaS tools, but for the most part they all exist in their own silos. Thanks to service webhooks and APIs, and the proliferation of node modules, you can aggregate most things into a life-stream... and you can host these tools in the cloud, for free, on Heroku. It's like IFTTT, but with more control and a better interface: your IDE.
						.instructor
							.details
								.name Adam Tuttle
								.twitter
									a(href='https://twitter.com/adamtuttle' target='_blank')@adamtuttle
								.bio Wanksta til I die
						br/
						.subject Switch Your Legacy Stack to Node
						.detail Tom Shawver, Lead Architect at Leadnomics, will tell you how to switch your legacy stack to Node without getting fired in the process. He'll cover architectures, libraries, and tools you should know about before you need them.
						.instructor
							.pic
								img(src='images/tom.jpg', height=150, width=131)
							.details
								.name Tom Shawver
								.bio Lead Architect at Leadnomics
					.timeslot
						.header After-Partaaaaay (9pm)
						.subject 
							a(href='http://www.citytaphouse.com' target='_blank') City Tap House
						.detail After-party at our usual spot, City Tap House (
							a(href='https://twitter.com/TapHousePhilly' target='_blank')@taphousephilly
							) featuring food, drinks, music and a chance to mingle with your fellow Node fans. Food & beer provided by our awesome sponsors.

						
