extends techweeklayout


block content
	.headersection
		.nodelogo
			img(src='/images/yo-philly-nodes.png', height=200, width=200)
		.techweeklogo 
			img(src='/images/ptw2014-logo-att.png', height=70, width=400)
	.section 
		.blackShiz
			.contentYo
				.indent
					p We're back again for our third annual conference bringing you some of the most influential tech-stars to rap about Node, hack around, lead some workshops and in general have an all-out ill time.
				
				p This year we will be featuring hands-on workshops hosted by MongoDB and StrongLoop, followed by an early evening speaker series with some of the most prominent talent in the Node community leading up to a dope after party that will be hard to forget. Here's the lineup:

		.grayShiz
			.contentYo
				.date
					.day Tuesday, April 8

					.timeslot
<<<<<<< HEAD
						.header BLE Hack (6pm)
						.detail Tuesday, April 8th, ~6:00pm - 8:00pm: Meetup at Zivtech where Bryan Paluch talks and demos BLE. This will be a bit of a workshop format where attendees are encouraged to bring some gadgets to play with.
				.date
					.day Wednesday, April 9
					.timeslot
						.header MEAN Stack Workshop (2pm)
						.detail Teaming up with MongoDB to put on this workshop.  a workshop on the MEAN stack (MongoDB, Nodejs, Express and Angular).  a 1.5 hour lecture, 20 participants, one instructor
						.instructor Valeri Karpov
					.timeslot
						.header Strongloop Workshop (3pm)
						.timespan 3:00-5:00 : Workshop
						.subject Build and Deploy an API server in Node
						.detail In this workshop, Matt Schmulen will walk you through the fundamentals of how an API Server works and what they are good for. We'll then crack open our lids and start hacking. End of the session you should have an API Server deployed locally or on your cloud of choice that supports connectivity to MongoDB, MySQL and Oracle plus provides services like push, geolocation and sync.
						.instructor 
							.name Matt Schmulen
							.twitter 
								a(href='https://twitter.com/mattscmulen' target='_blank')@mattscmulen
							.bio Independent Mobile Developer & StrongLoop Sales Engineering

=======
				
>>>>>>> techweek
						.header BLE Hack (6-8 pm)
						.subject Hands On BLE Workshizop
						.detail Meetup at Zivtech where Bryan Paluch talks and demos BLE. This will be a bit of a workshop format where attendees are encouraged to bring some gadgets to play with.
				.date
					.day Wednesday, April 9
					.timeslot
						.header MEAN Stack Workshop (2-4:30 pm)
						.subject The MEAN Stack (MongoDB, Express, Angular, Nodejs)
						.detail Teaming up with MongoDB to put on this workshop.  a workshop on the MEAN stack. 20 participants, one instructor
						.instructor Valeri Karpov
					.timeslot
						.header Strongloop Workshop (3-5 pm)
						.subject Build and Deploy an API server in Node
						.detail In this workshop, Matt Schmulen will walk you through the fundamentals of how an API Server works and what they are good for. We'll then crack open our lids and start hacking. End of the session you should have an API Server deployed locally or on your cloud of choice that supports connectivity to MongoDB, MySQL and Oracle plus provides services like push, geolocation and sync.
						.instructor 
							.pic 
								img(src='images/dude1.jpg', height=150, width=131)
							.details
								.name Matt Schmulen
								.twitter 
									a(href='https://twitter.com/mattscmulen' target='_blank')@mattscmulen
								.bio Independent Mobile Developer & StrongLoop Sales Engineering
					.timeslot
						.header Node Philly Conference (6pm)
						.subject Strongloop: What's New in Node v0.12 and What's Next
						.detail In this talk, Node commiter Bert Belder will walk us through some of the new features in Node v0.12 including Streams3, VM improvements, cluster round-robin, execSync and the profiling APIs. He'll also take a look into the crystal ball and discuss where Node is headed and what you can expect from the core team in the future.
						.instructor
<<<<<<< HEAD
							.name Bert Belder
							.twitter 
								a(href='https://twitter.com/piscisaureus' target='_blank')@piscisaureus 
							.bio Node Commiter and StrongLoop Co-Founder

=======
>>>>>>> techweek
							.pic 
								img(src='/images/bert.png', height=150, width=131)
							.details
								.name Bert Belder
								.twitter 
									a(href='https://twitter.com/piscisaureus' target='_blank')@piscisaureus 
								.bio Node Commiter and StrongLoop Co-Founder
					.timeslot		
						.header Other Speakers
						.subject Reimagining the npm Data Model
						.detail Discuss the current problems we face with the current npm architecture and the steps that we can take to ensure it remains a sustainable and open platform.
						.instructor
<<<<<<< HEAD
							.name Jarrett Cruger
							.twitter 
								a(href='https://twitter.com/jcrugzz' target='_blank')@jcrugzz
							.bio Engineer at Nodejitsu passionate about building fault tolerant, distributed systems. Dreams for the day that we will build a completely decentralized internet infrastructure.

					.timeslot
						.header After-Party (9pm)
						.detail After party at our usual spot, City Tap House.  Food & beer provided by our awesome sponsors.
=======
>>>>>>> techweek
							.pic 
								img(src='images/jarrett.jpeg', height=150, width=131)
							.details
								.name Jarrett Cruger
								.twitter 
									a(href='https://twitter.com/jcrugzz' target='_blank')@jcrugzz
								.bio Engineer at Nodejitsu passionate about building fault tolerant, distributed systems. Dreams for the day that we will build a completely decentralized internet infrastructure.
					.timeslot
						.header After-Party (9pm)
						.subject <a href='http://www.citytaphouse.com' target='_blank'>City Tap House</a>
						.detail After party at our usual spot, City Tap House.  Food & beer provided by our awesome sponsors.
						
