.aboutSection.contentSection
  p.innerContentSection This is some stupid shit on the left for Brett
  .pictureSection.innerContentSection
    .picture(style="background-color:green;")
    .picture(style="background-color:blue;")
    .picture(style="background-color:red;")
    .picture(style="background-color:purple;")
